<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
 <body>

        <il>
            <a href="/contacts/">Контакты</a>
        </il>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/results/">Результаты</a>
        </li>
    <h1>Привет путник</h1>
    <p>Это первая страница Flask</p>
    <br>Город:{{main_data['Город']}}</br>
    <br>Район:{{main_data['Район']}}</br>
        Компания:{{main_data['Компания']}}</br>

        Имя:{{name}}</br>
        Возраст:{{age}}</br>
        Специализация:{{spes}}</br>
    </body>
</html>